$cor-principal: #41a017;
$azul-escuro: #002639;
$branco: #FFF;
$preto: #011722;
$verde-claro: #72bf44;
$cinza-chumbo: rgb(54, 54, 54);
$cinza-claro: #a0a0a0;


@mixin flx($propriedade, $valor){
    display: flex;
    #{$propriedade}: $valor;
}

@mixin titulos {
    font-size: 2rem;
    color: $preto;
    margin: 1rem 0;

    @include for-phone-only(){
        font-size: 1.4rem;
    }
}

@mixin titulos-produtos {
    font-size: .9rem;
    color: $cinza-chumbo;
    font-weight: 600;
    margin-top: 1rem;
}

@mixin codigos-produtos {
    font-size: .8rem;
    color: $cinza-claro;
    font-weight: 400;
    margin-bottom: .3rem;
}

@mixin fontes-lista{
    font-size: .8rem;
    color: $cinza-chumbo;
    font-weight: 600;
}


@mixin for-phone-only{ @media screen and (max-width: 768px){@content} };
@mixin for-table-only{ @media screen and (max-width: 1130px){@content} };
@mixin for-carrosel-medio{ @media screen and(max-width: 600px){@content} };
@mixin for-carrosel-pequeno{ @media screen and(max-width: 500px){@content} };
@mixin for-cabecalho-mobile { @media screen and(max-width: 990px){@content} };

@import '_cabecalho.scss','_carrossel.scss','_destaques.scss','_cupons.scss','_promocoes','_produtos','_categorias','novidades','_rodape';

.container{    
    padding-left: calc((100% - 1100px)/2);
    padding-right: calc((100% - 1100px)/2);
    width: 100%;
    margin: 0 auto;

    @include for-table-only(){
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @include for-phone-only(){
        padding-left: 1rem;
        padding-right: 1rem;
    }

}
.carrossel_indicadores-ativo{
    background-color: $cor-principal;
}
.cor_span{
        color: $cor-principal;    
}
